@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  display: flex;
  padding: 20px $padding-horizontal;

  &__list {
    align-items: center;
    display: flex;
  }

  &__link {
    list-style-type: none;
    padding: 10px 2px;
    border-left: 6px solid $dark-red;
    a {
      color: $dark-green;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $green;
      }
    }
  }

  &__primeirolink {
    list-style-type: none;
    padding: 10px 2px;
    a {
      color: $dark-green;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $green;
      }
    }
  }
}