body {
  margin: 30px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  font-family: 'Aptos', sans-serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
